body{
    background: black;
}

/* #cv-form{
    /* display: none;
} */

#cv-template{
    display: none;
}

.myImg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: #FFF1CC;
    background: #FFF1CC;
}